*{
    padding: 0;
    margin: 0;
    
    font-family: Epilogue;
}
.navSec{
    align-items: center;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3% 2%;
}
.navSec>#logo{
    display: inherit;
    justify-content: space-between;
}
.navSec>#logo>ul{
    display: inherit;
    list-style: none;
}
.navSec>#logo>ul>li{
    margin: 0px 15px;
    font-weight: 500;
    cursor: pointer;
}
.register{
    border: 1px solid;
    padding: 0.8rem 1.8rem;
    border-radius: 15px;
    cursor: pointer;
    font-size: 18px;
}
.login{
    padding: 0.5rem 1.5rem;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

#remote>.decr>:first-child{
    font-size: 4.5rem;
    font-weight: bolder;
}
#remote>.decr>div{
    font-size: 1.3rem;
    opacity: 0.6;
    margin: 1rem 0 3rem 0;
}
#remote>.decr>button{
    padding: 0.9rem 2rem;
    font-weight: bold;
    font-size: large;
    max-width: 200px;
}
#remote>.decr>button:hover,.register:hover{
    background-color: black;
    color: white;
    transform: scale(1);
    transition: 2s;
}
.decr{
    display: flex;
    flex-direction: column;
    min-width: 600px;
    padding-top: 12rem;
    justify-content: space-between;
}
.image>img{
    width: 500px;
}
#remote{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
body{
    background-color: hsl(0, 7%, 92%);
}
.cards>img{
    padding: 1rem;
}
.floating{
    width: 150px;
    height: 140px;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem 0px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    background-color: white;
}


@media screen and (min-width: 768px) {
    
}