*{
    padding: 0;
    margin: 0;
    background-color: hsl(0, 0%, 98%);
}
.navSec{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* font-size: 18px; */
    margin: 2% 1%;
}
.navSec>#logo{
    display: inherit;
    justify-content: space-between;
}
.navSec>#logo>ul{
    display: inherit;
    list-style: none;
}
.navSec>#logo>ul>li{
    margin: 0px 15px;
    font-weight: 500;
    cursor: pointer;
}
.register{
    border: 1px solid;
    padding: 0.5rem 1.5rem;
    border-radius: 15px;
    cursor: pointer;
}
.login{
    padding: 0.5rem 1.5rem;
    border: none;
    cursor: pointer;
}

#remote>.decr>:first-child{
    font-size: 4.5rem;
    font-weight: bolder;
}
#remote>.decr>div{
    font-size: 1.5rem;
    opacity: 0.6;
    margin: 1rem 0 3rem 0;
}
.decr{
    min-width: 600px;
}
.image>img{
    width: 500px;

}
#remote{
    display: flex;
    flex-direction: row;
    margin: 0 10%;
    justify-content: center;
}